# Storybook stories for a component
snippet story
    import type { Meta, StoryObj } from "@storybook/react";
    import ${1:Component} from ".";

    const meta: Meta<typeof ${1:Component}> = {
      component: ${1:Component}
    };

    export default meta;

    type ${1:Component}Story = StoryObj<typeof ${1:Component}>;

    export const Basic: ${1:Component}Story = {
      args: {},
      render: (args) => <${1:Component} {...args} />
    };
