[alias]
	s = status
	co = checkout
	cb = checkout -b
	cm = commit -m
	mr = merge
	ms = merge --squash
	mnff = merge --no-ff
	br = branch
	ll = log --oneline
	ca = commit --amend
	cam = commit --amend -m
	csm = commit -S -m
	cas = commit --amend
	casm = commit --amend -S -m
	conflicted = !vim +Conflicted

[user]
	email = ms.2052001@gmail.com
	name = Mohammed Samir
	username = ms2052001
	signingKey = 8A1FDFB97C63E41DA58FAE3593F3C52B7DC6E418

[commit]
	gpgsign = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
