[alias]
    s = status
    co = checkout
    cb = checkout -b
    mr = merge
    ms = merge --squash
    mnff = merge --no-ff
    br = branch
    ll = log --oneline
    cm = commit -m
    ca = commit --amend
    cam = commit --amend -m
    csm = commit -S -m
    cas = commit --amend
    caam = commit --amend -am
    casm = commit --amend -S -m
    csam = commit -S -am
    casam = commit --amend -S -am
    conflicted = !vim +Conflicted

[user]
    email = ms.2052001@gmail.com
    name = محمد الصوالحي
    username = ms2052001
    signingKey = 8A1FDFB97C63E41DA58FAE3593F3C52B7DC6E418

[init]
    defaultBranch = main

[commit]
    # Lazygit says: Feature not available for users using GPG
    # and I need to use theme features 
    gpgsign = false

[pull]
    rebase = true

[push]
    default = simple

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --24-bit-color=never

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
