[alias]
    s = status
    co = checkout
    cb = checkout -b
    mr = merge
    ms = merge --squash
    mnff = merge --no-ff
    br = branch
    ll = log --oneline
    lg = log --pretty=format:"%C(yellow)%h%Creset %C(green)%s%Creset %Cred%d%Creset %Cblue[%an]" --date=short
    cm = commit -m
    cam = commit -am
    csm = commit -S -m
    csam = commit -S -am
    ca = commit --amend --no-edit
    cma = commit --amend --no-edit -m
    cama = commit --amend --no-edit -am
    csma = commit --amend --no-edit -S -m
    casma = commit --amend --no-edit -S -am
    conflicted = !vim +Conflicted

[user]
    email = ms.2052001@gmail.com
    name = محمد الصوالحي
    username = ms2052001
    signingKey = 8A1FDFB97C63E41DA58FAE3593F3C52B7DC6E418

[init]
    defaultBranch = main

[commit]
    # Lazygit says: Feature not available for users using GPG
    # but I prefer to use these features 
    gpgsign = false

[pull]
    rebase = true

[push]
    default = simple

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --24-bit-color=never

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
